.list{
    background-color: #fafafa;
}

.item{
    cursor: pointer;
}

.item:hover{
    background-color: #f5f5f5;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 52px;
}

.link{
    color: inherit;
}

.icon{
    font-size: 18px;
}

.name{
    font-size: 10px;
}