.list{
    background-color: #fafafa  !important;
}

.item{
    cursor: pointer !important;
}

.item:hover{
    background-color: #f5f5f5 !important;
}

.box{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    min-height: 52px !important;
}

.link{
    color: inherit !important;
}

.icon{
    font-size: 18px !important;
}

.name{
    font-size: 10px !important;
}