.row{
    min-height: 52px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0px 16px !important;
}

.col{
    display: flex !important;
    align-items: center !important;
    justify-content: right !important;
}

.button{
    background-color: #f5f5f5 !important;
    color: #595959 !important;
    font-size: 14px !important;
    border-radius: 4px !important;
}