.row{
    min-height: 52px !important;
    display: flex !important;
    align-items: center !important;
    padding: 0px 16px !important;
}

.col{
    display: flex !important;
    align-items: center !important;
    justify-content: right !important;
}