.loadLoyout{
    padding: 16px;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorLayot{
    padding: 16px;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.listLayout{
    padding: 16px;
    min-height: calc(100vh - 72px);
}