.header {
    padding: 8px 24px !important;
    align-items: center !important;
}

.logo {
    font-size: 15px !important;
    font-weight: 700 !important;
}

.icon {
    margin-right: 4px !important;
    cursor: pointer !important;
}